body,
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.welcome-section,
.about-section,
.contact-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  text-align: center;
  justify-content: center;
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
}
